*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Helvetica Neve", Arial, sans-serif; 
    background-color: rgb(42, 41, 41);

    h1{
        color: #c9c9c9;
    }

}
